.stu3Task{
  padding: 55px 50px;

}
body{
	background-color: #E0E0E0;
}
.Head1{
	background-color: #330000;
	padding: 20px;
	margin: 1px;
	text-align: center;
	font-size: 35px;
	width: 1290px;
}

.GroupMembers{
    position: relative;
    width: 320px;
    height: 450px;
    float: left;
    margin: 40px;
    background-size: 100%;
    background-position: bottom;
	transition: 0.9s;
}
.GroupMembers:hover{
    background-size:120%;
    transition: 0.9s;
}

.GroupMembers:after{
    position: absolute;
    top: 86%;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: pre-wrap;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 3);
    color: #fff;
    padding: 8px;



    content: attr(data-text);
    transition: 0.5s;
}

.GroupMembers:hover:after{
    opacity: 75%;
    top: 0;
    padding: 8px;
    background-color: rgb(7, 4, 99);
}

.GroupMembers:first-line{
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}